config/coc
config/gh
config/gim
config/git/gitconfig.local
config/npm
config/pulse
config/sh/profile_local
config/sh/bash_aliases_local
config/ssh
config/vim/vimrc.local
config/vim/plugged
local/bin/gim
local/include
local/share
local/state
