[Unit]
Description=Cage Wayland Terminal Kiosk
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty1.service

[Service]
User=solar
WorkingDirectory=/home/solar
PAMName=login
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XKB_DEFAULT_LAYOUT=us
Environment=XKB_DEFAULT_VARIANT=altgr-intl
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/cage -- /usr/bin/foot
Restart=always

[Install]
WantedBy=multi-user.target
